.Home {
  height: 100vh;
  background: linear-gradient(
    7deg,
    rgba(255, 166, 0, 0.63) 10%,
    rgba(217, 177, 102, 0.76) 77%
  );
  display: flex;
}
.left_home {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 180px;
  line-height: 1.1;
}
.left_home h2 {
  color: #090909;
  font-size: 26px;
  font-weight: 600;
}
.left_home p {
  color: #171717;
  font-size: 100px;
  font-weight: 700;
}
.hand-icon {
  display: flex;
  align-items: center;
  gap: 20px;
}
.hand-icon img {
  width: 105px;
}
.home_lastest_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 310px;
  height: 50px;
  border-radius: 75px;
  margin-top: 30px;
  background: red;
  color: white;
  font-size: 22px;
  font-weight: 500;
}
.home_lastest_btn img {
  width: 50px;
}
.right_home {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right_home img {
  width: 80%;
}
